@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    <div class="row pt-5">

        <div class="col-md-6 ps-5">
            <h1>Meritios,</h1>
            <p>Allt du behöver för att digitalisera LiA praktiken och företagspoolen samlat i ett lättanvänt verktyg</p>
            <button class="btn btn-secondary">Boka Demo</button>
        </div>

        <div class="col-md-6 pe-5">
            <img src="https://wp.meritios.com/wp-content/uploads/2022/12/Namnlost-2.png" class="h-100 w-100" />
        </div>
    
    </div>

    <div class="row pt-5">

        <div class="text-center bg-primary">
            <h1>Företagspoolen samlad i ett CRM</h1>
            <button class="btn btn-secondary">Läs mer</button>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <img class="h-100 w-100" src="https://wp.meritios.com/wp-content/uploads/2022/12/Namnlost-3-1536x1536.png" />
        </div>
        
        <div class="col-md-6  d-flex flex-column align-items-center justify-content-center text-center">
            <h1>Digitalisering av <br/> LiA-processen</h1>
            <button class="btn btn-success">Läs mer</button>
        </div>
        
    </div>


</div>